###############################################################################
# Ignore these files
###############################################################################

*.log
*.pid
*.seed
*~ # Emacs
.*


###############################################################################
# Accept these files
###############################################################################

!.babelrc
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc
!.gitignore
!.nvmrc


###############################################################################
# Ignore these directories
###############################################################################

build/Release
coverage
lib-cov
logs
node_modules
pids

